h1, h2, h3, h4, h5, h6 {
    color: #191919;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
    color: #5A7684;
}

a:hover {
    color: #92AFD7;
}

#headerName, #headerName h1 {
    background-color: #395B50;
    color: #CED0CE;
    border-radius: 10px;
    padding: 1px;
    padding-left: 1%;
    margin: 1% 2.5% 1%;   
}

footer {
    background-color: #395B50;
    color: #CED0CE;
    text-align: center;
    border-radius: 10px;
    margin: 1% 2.5% 1%;

}

footer a {
    color: #CED0CE
}

#mainContent {
    color: #191919;
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
}

#portrait img {
    box-shadow: 2px 2px 15px #191919, -2px 2px 15px #191919, -2px -2px 15px #191919, 2px -2px 15px #191919;
    position: absolute;
    right: 4%;
    top: 4%;
    
}

#mainTitle {
    border-bottom: 1px solid #191919;

}

#updated {
    font-size: 70%;

}

main {
    padding: 0 5% 0;
    line-height: 25px;   
}

.short-line { 
    display: block; 
}

@media screen and (min-width: 768px){
    .short-line { 
        display: inline;
    }
}
