@media only screen and (min-width: 60em) {
    header {
        width: 74%;
        margin: 1.25% 13% 0;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        width: 75%;
    }

    section:nth-child(1) {
        margin: 5% 2.3% 5% 2.3%;
        width: 95%;
    }

    section:nth-child(2) {
        margin: 5% 2.3% 5% 2.3%;
        width: 95%;
    }

    section:nth-child(3) {
        grid-column: span 1;
        margin: 5% 2.3% 5% 2.3%;
        width: 95%;
    }

    section h2 {
        top: -20px;

    }

    footer {
        width: 74%;
        border-radius: 10px;
        margin: 0% 13% 1.25%;
    }
}