@media only screen and (min-width: 37.5em) {
    header {
        width: 92.5%;
        border-radius: 10px;
        line-height: 1em;
        padding: .2em 0 .2em 0;
        margin: 2.5% 3.75% 0;
    }

    main {
        grid-template-columns: 1fr 1fr;

    }

    section:nth-child(1) {

        margin: 5% 2.5% 0 7.5%;
        width: 90%;

    }

    section:nth-child(2) {

        margin: 5% 7.5% 0 2.5%;
        width: 90%;

    }

    section:nth-child(3) {
        grid-column: span 2;
        width:92.5%;
        margin: 2.5% 3.75% 0 ;
    }

    section h2 {
        top: -20px;

    }
    
    .short-line {
        display: inline;
    }

    footer {
        width: 92.5%;
        border-radius: 10px;
        margin: 2.5% 3.75% 2.5%;
    }

    .imgMiddle{
        display: block;
      }
    
    .imgSmall{
        display: none;
      }

}