@media only screen and (min-width: 65em) {
/*Large view min-width: 65em*/
    main,
    footer {
        
        font-size: 1.2rem;
        background-color:transparent;
        max-width: 900px;
    }

    footer {
        padding: 10px 0;
    }

    .navigation li a {
        padding: 0.6rem;
        font-size: 1rem;
    }

    .short-line {
        display: inline;
    }

    .article {

        min-height: 100%;
    }
}