@media only screen and (min-width: 65em) {

    main,
    footer {
        width: 80%;
        font-size: 1rem;
    }

    footer {
        padding: 10px 0;
    }

    .navigation li a {
        padding: 0.6rem;
        font-size: 0.8rem;
    }

    .short-line {
        display: inline;
    }

    .article {

        min-height: 100%;
    }
}