@media only screen and (min-width: 37.5em) {

    main,
    footer {
        width: 95%;
        margin: 0 auto;
        max-width: 900px;
    }

    header img{
        width:100px;
    }

    main {
        font-size: 1rem;
        
    }

    footer {
        border-radius: 10px;
    }


 

    .navigation {
        display: flex;
        margin: auto;

    }

    .navigation li:first-child {
        display: none;
    }


    .navigation li {
        display: block;
        font-size: 0.8rem;
        flex: 1 1 100%;
        padding: 2px 1px;
    }

    .navigation li a {
        border: none;
        background-color: #468AC9;

    }

    .navigation li.active a {
        border-radius: 5px;
    }

    .navigation li a:hover {
        border-radius: 5px;

    }

    .contentbox {
        border-radius: 10px;
    }

    .contentbox h2 {
        text-align: left;
    }

    .hero img {
        border-radius: 10px;
    }

    .summary {
        top: 1.5rem;
        left: 1.5rem;
        min-width: 185px;
        padding: 0.2rem 1.5rem;
    }

    .summary h3 {

        font-size: 1.2rem;
    }

    .summary p {
        font-size: 1rem;
    }

    .forecast {
        display: block;
    }

    .article {
        display: block;
        overflow: hidden;
        padding-bottom: 1%;

    }

    #articlepic {

        float: right;
        width: 40%;
        padding: 0 0 1% 2%;
    }

    .contact img,
    .leftcol {
        display: block;
    }

    .contact img {
        width: 100%;
        max-width: 450px;
    }

}